* text=auto

*.py text eol=lf
*.md text eol=lf
*.toml text eol=lf
*.txt text eol=lf
*.html text eol=lf
*.css text eol=lf

*.pdf binary
*.png binary
*.jpg binary
*.jpeg binary
*.ttf binary
*.otf binary
*.zip binary
